langchain
langchain-community
azure-ai-documentintelligence
unstructured[all-docs]
langchain-chroma
chromadb
openbb-agents
openbb[all]
yfinance
pyautogen
python-dotenv
xgboost
markdownify
pandas
einops